*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/dictionaries
.DS_Store
/bakApk
/build
/gradle
/captures
*.cxx/
/.cxx
.cxx
.externalNativeBuild
/app/src/main/assets/oculussig_*
